version: '3'
services:
  postgres:
    container_name: keycloak-db
    image: postgres
    restart: always
    volumes:
      - /portainer/Files/AppData/keycloak/container-data/db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak_user
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  keycloak:
    container_name: keycloak
    image: jboss/keycloak:latest
    restart: always
    environment:
      DB_VENDOR: POSTGRES
      DB_ADDR: keycloak-db
      DB_DATABASE: keycloak
      DB_USER: keycloak_user
      DB_SCHEMA: public
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      #KEYCLOAK_USER: admin
      #KEYCLOAK_PASSWORD: ${KEYCLOAK_PASSWORD}
      PROXY_ADDRESS_FORWARDING: "true"
      REDIRECT_SOCKET: "proxy-https"
      KEYCLOAK_FRONTEND_URL: https://auth.mbwnetworks.com/auth
    ports:
      - 8080:8080
    depends_on:
      - postgres